


.Navbar {
/*     border-bottom: 1px solid rgba(0, 0, 0, 0.245); */
    box-shadow: 0px 1px 25px rgba(0, 0, 0, 0.314);
    /* position: relative; */
    position: sticky;
    top: 0;
    background-color: #efebeb;
    display: flex;
    align-items: center;
    z-index: 999999;
    justify-content: flex-end;
    gap: 20px;
    padding: 15px 20px 15px 10px;
}

.logo {
    padding: 5px 5px;
   /*  border: 2px solid rgb(0, 0, 0); */
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin-right: auto;
    font-family: 'Cinzel', serif;
    font-size: clamp(0.4rem, 4vw, 1.5rem);
}

.navbarLinks > ul {
  /*   border: 1px solid black; */
    position: absolute;
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    top: 50%;
    left: 0%;
    transform: translate(25%,-50%);
}

.navbarLinks > ul > li > a,.navbarLinks > ul > li > a:active {
    text-decoration: none;
    background-color: rgba(216, 216, 216, 0.222);
    padding: 4px 10px;
    border-radius: 5px;
    color: black;
    letter-spacing: 2px;
    white-space: nowrap;
}

.navbarLinks > ul > li > a:hover {
    color: rgb(100, 100, 100);
}

.navbarButtons {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    font-size: clamp(0.3rem, 3vw, 0.9rem);
    /* border: 1px solid black; */
}

.cartImageContainer {
    position: relative;
}

.cartQty {
    top: 0;
    right: 0;
    transform: translate(40%,-40%);
    position: absolute;
    background-color: black;
    color: white;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(0.3rem, 3vw, 0.7rem);
    animation: cartAnimation 0.2s linear forwards;

}

@keyframes cartAnimation {

    from {
        transform: translate(140%,140%);
        width: 0px;
        height: 0px;
    }

    to {
        width: 18px;
        height: 18px;
    }
    
}

.navbarButtons > img  {
    display: block;

}

.navbarButtons > img:hover  {
    cursor: pointer;
}

.navbarButtons > button {
    border: none;
    outline: none;
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-size: clamp(0.2rem,2vw, 0.9rem);
}

.navbarButtons > button:hover {
    text-decoration: underline;
}

.wishlistbuttonContainer {
    position: relative;
}

.wishlistQty {
    top: 0;
    right: 0;
    transform: translate(50%,-50%);
    position: absolute;
    background-color: black;
    color: white;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(0.3rem, 3vw, 0.7rem);
    animation: wishlistAnimation 0.2s linear forwards;

}

@keyframes wishlistAnimation {

    from {
        transform: translate(130%,130%);
        width: 0px;
        height: 0px;
    }

    to {
        width: 18px;
        height: 18px;
    }
    
}



.wishlist_btn {
    display: block;
}
.wishlist_btn:hover {
    opacity: 0.7;
}


