.mainFooter {
	border-top: 1px solid rgba(0, 0, 0, 0.112);
	background-color: rgba(238, 238, 238, 0.879);
  padding: 80px 0 40px 0px;
  margin-top: 100px;
  color: black;
	/* margin-top: auto; */
	width: 100%;
      /* box-shadow: 0px 1px 25px rgba(0, 0, 0, 0.314); */
}

.container {
/* 	max-width: 1170px; */
  max-width: 90%;
 /*  border: 1px solid black; */
	margin: auto;
  display: flex;
  flex-wrap: wrap;
}

/* .row {
	display: flex;
	flex-wrap: wrap;
} */


.footer_col {
/* 	border: 1px solid black; */
	width: 25%;
	padding: 0 15px;
}

.footer_col h4 {
	font-size: 18px;
	text-transform: capitalize;
	margin-bottom: 20px;
	font-weight: 500;
	position: relative;
}

.footer_col h4::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: -7px;
	background-color: black;
	width: 50px;
	height: 2px;
}

.copyright {
  text-align: center;
  opacity: 0.5;
  background-color: rgba(238, 238, 238, 0.879);
  font-size: clamp(0.3rem, 3vw, 1rem);
  padding-bottom: 15px;
}


.footer_col ul li {
	margin-bottom: 10px;
  list-style-type: none;
}

.footer_col ul li a {
	color: black;
	display: block;
	font-size: 1rem;
	font-weight: 300;
	text-transform: capitalize;
	text-decoration: none;
	transition: all 0.3s ease;
  
  
}

.footer_col ul li a:hover {
	opacity: 0.7;
	padding-left: 7px;
  
}

.footer_col .social_links a {
	color: black;
	background-color: rgba(255, 255, 255, 0.2);
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.5s ease;
/* 	background-color: red; */
	padding: 15px;
	border-radius: 50%;
   border: 1px solid black;
}

.social_links {
/* 	border: 1px solid black; */
	flex-wrap: nowrap;
	gap: 15px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.footer_col .social_links a:hover {
 
	color: #FFF;
	background-color: #151515;
}

@media(max-width: 767px) {
	.footer_col {
		width: 50%;
	/* 	margin-bottom: 30px; */
	}

  .container {
    gap: 30px;
    }

}

@media(max-width: 574px) {

  .mainFooter {
    padding: 40px 0;
  }

	.footer_col {
		width: 100%;
	}

  .container {
    gap: 30px;
    }



}

.logo {
/*   border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 5px;
 /*  border: 2px solid rgb(0, 0, 0); */
/*  opacity: 0.5; */
  text-decoration: none;
  color: rgb(0, 0, 0);
  margin-right: auto;
  margin-bottom: auto;
  font-family: 'Cinzel', serif;
  font-size: clamp(0.4rem, 4vw, 1.5rem);
}