.emptyWishlist {
 /*    border: 1px solid black; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: min(98%, 1700px);
    margin: 40px auto;
    flex-grow: 1;
    background-color: rgba(255, 255, 255, 0.485);
    border-radius: 10px;
    padding: 20px;

  }

  .emptyContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  /*   border: 1px solid black; */
  }

  .emptyContainer > h3 {
    line-height: 2rem;
    margin-top: 15px;
    font-size: clamp(1.3rem, 3vw, 2rem);
  }
  .emptyContainer > p {
    color: rgba(0,0,0,0.5);
    line-height: 24px;
    margin: 0.4rem auto 0 auto;
    font-size: clamp(0.2rem, 3vw, 1.2rem);
    opacity: 0.7;
    text-align: center;
  }

  .homeButton {
    background-color: #2d3039;
    margin : 0 auto;
    text-align : center;
    cursor : pointer;
    padding: 10px 10px;
    border-radius: 3px;
    color: #fafafa;
    box-shadow: 0px 1px 2px rgba(0,0,0,.2);
    border: none;
    font-size: clamp(0.2rem, 3vw, 1rem);
    transition: all 0.5s;
}

.homeButton:hover {
    background-color: black;
  }
