* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
min-height: 100vh;
  /* justify-content: space-evenly; */
}


:root {
  --primary-color: #efebeb;     
  --secondary-color: #363636;
  --navbarcolor: black;
  --quick_button: black;
}

html {
  background-color: var(--primary-color);
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
}


@font-face {
  font-family: 'Malibu';
  src: url('../../public/Fonts/Malibu.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Harmonia';
  src: url('../../public/Fonts/Harmonia.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


.mainContainer {
  position: fixed;
  background-color: #efebeb;
  z-index: 99999;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}



.load_animation_black {
  margin:  20px auto;
	width: 30px;
	height: 30px;
	border:solid 3px #000000;
	border-radius: 50%;
	border-right-color: transparent;
	border-bottom-color: transparent;
	 -webkit-transition: all 0.5s ease-in;
    -webkit-animation-name:             rotate; 
    -webkit-animation-duration:         1.0s; 
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear;
    	
    	 transition: all 0.5s ease-in;
    animation-name:             rotate; 
    animation-duration:         1.0s; 
    animation-iteration-count:  infinite;
    animation-timing-function: linear; 
}


@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to { 
        transform: rotate(360deg);
    }
}
 

 @-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to { 
        -webkit-transform: rotate(360deg);
    }
}



.dark_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999999;
  background-color: rgba(0, 0, 0, 0.564);
  visibility: hidden;
}


.cancel_container {
/* 	border: 1px solid red; */
	width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
		
}

._failed i{  color:red !important;  }



._success {
    border-bottom: solid 4px #28a745;
}
._failed {
    border-bottom: solid 4px #ff0000;
}
 
._success,._failed {
background-color: rgba(238, 238, 238, 0.879);
padding: 10px 50px;
border-radius: 10px;
box-shadow: 3px 3px 20px rgba(30, 30, 30, 0.117);
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 5px;
	justify-content: center;
    width: 100%;
    margin: 40px auto;
}

._success i,._failed i {
    font-size: 55px;
		padding-top: 15px;
    color: #28a745;
}

._success h2,._failed h2 {
    margin-bottom: 12px;
		font-size: clamp(0.5rem, 5vw, 2rem);
    font-weight: 500;
    margin-top: 10px;
		font-weight: bold;
}

._success p, ._failed p {
    margin-bottom: 0px;
    font-size: 18px;
    color: #495057;
    font-weight: bold;
}

/* FOOTER  */

/* .footer {
	background-color: #151515;
	padding: 80px 0;
}

.container {
	max-width: 1170px;
	margin: auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

ul {
	list-style: none;
}

.footer-col {
	width: 25%;
	padding: 0 15px;
}

.footer-col h4 {
	font-size: 18px;
	color: #FFF;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: -10px;
	background-color: #E91E63;
	width: 50px;
	height: 2px;
}

.footer-col ul li:not(:last-child) {
	margin-bottom: 10px;
}

.footer-col ul li a {
	color: #DDD;
	display: block;
	font-size: 1rem;
	font-weight: 300;
	text-transform: capitalize;
	text-decoration: none;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover {
	color: #FFF;
	padding-left: 7px;
}

.footer-col .social-links a {
	color: #FFF;
	background-color: rgba(255, 255, 255, 0.2);
	display: inline-block;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	text-align: center;
	margin: 0 10px 10px 0;
	line-height: 40px;
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
	color: #151515;
	background-color: #FFF;
}

@media(max-width: 767px) {
	.footer-col {
		width: 50%;
		margin-bottom: 30px;
	}
}

@media(max-width: 574px) {
	.footer-col {
		width: 100%;
	}
} */