

.wishlistContainer {
       /* border: 1px solid rgb(0, 0, 0); */
    width: min(98%, 1700px);
    margin: 40px auto;
    height: auto;
    background-color: rgba(255, 255, 255, 0.485);
    border-radius: 10px;
    padding: 30px;
}


.wishlistContainer > h2 {
    padding-bottom: 10px;
    font-size: clamp(1rem, 3vw, 1.8rem);
}
.itemsContainer {
   /*  border: 1px solid black; */
   margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100vh;
}

.itemsContainer.empty {
    align-items: center;
    justify-content: center;
}

.emptyAlert {
    font-size: clamp(1rem, 3vw, 1.5rem);
}